.contact-container{
    height: 600px;
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.contact-img-content{
    height: 580px;
    width: 40%;
}
.para{
    margin-left: 35px;
    font-size: 22px;
    padding: 0;
    margin: 0;
  }
  .para-1{
    font-size: 20px;
    padding: 0;
    margin: 0;
  }

.contact-img-info{
    height: 580px;
    width: 40%;
}

.small-symbol{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 5px;
}
.small-symbol:hover{
  cursor: pointer;
  transform: 0.3s;
  transform: translateY(-8px);
}
.textarea{
  height: 100px;
}

.input-text {
  height: 50px;
  width: 400px;
  margin-top: 20px;
  margin-left: 42px;
  border-radius: 10px;
  text-align: left;
  padding-left: 10px;
  font-size: 18px;
}

.btn-size{
  height: 50px;
  width: 170px;
  font-size: 18px;
  padding: 5px;
  margin-top: 20px;
  margin-left: 130px;
  border-radius: 10px;
  background-color: bisque;
  color: #6f0b36;
}

.g-y-S{
  margin-left: 30px;
}

.wht-btn{
  position: fixed;
  right: 100;
  padding: 5px;
  z-index: 6;
  left: initial;
}