.enroll-container{
    display: flex;
    justify-content: space-around;
    height: 770px;
    width: 70%;
    margin: auto auto;
    margin-top: 100px;
    border: 1px solid rgb(202, 150, 150);
}

.enroll-img-div{
    width: 50%;
}
.enroll-img{
    margin-top: 100px;
}
.enroll-form{
    width: 50%;
}

.enroll-heading{
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: 700;
}

.enroll-label{
    margin-left: 13px;
    font-weight: 500;
    font-size: 20px;
}

.input-box{
    height: 40px;
    width: 450px;
    padding: 5px;
    border-radius: 7px;
    border: 1px solid gray;
    font-size: 17px;
    margin: 10px;
}

.class-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 660px;
    width: 70%;
    margin: auto auto;
    margin-top: 40px;
    border: 1px solid rebeccapurple;
}

.small-img-cont{
    width: 300px;
    height: 280px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid rebeccapurple;
    box-sizing: 2px 2px 3px grey;
}

.small-img-cont:hover{
    margin-top: 2px;
    transition: 1s;
}

.img-cont{ 
    padding: 10px;
    display: block;
    margin: auto auto;
}

.enroll-text{
    text-align: center;
    color: rgb(111, 32, 32);
    font-weight: 500;
}

.enroll-btn{
    margin-top: 60px;
    margin-bottom: 100px;
    width: 40%;
    height: 50px;
    background-color: rgb(211, 142, 38);
    color: wheat;
    border: none;
    border-radius: 10px;
    margin-left: 500px;
    font-size: 20px;
    cursor: pointer;
}

.b-mm-text{
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin-top: 50px;
}